<!DOCTYPE html>
<html data-controller="theme">
  <%= render 'partials/head' %>

  <body class="bg-sky-100 dark:bg-gray-900 text-slate-600 dark:text-gray-400 font-mono h-screen flex flex-col justify-between">
    <header>
      <%= render 'partials/flash' %>
      <%= render 'partials/nav' %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="relative bg-sky-100 dark:bg-gray-900 pt-8 pb-6">
      <%= render 'partials/footer' %>
    </footer>
  </body>
</html>
