<%= render "partials/components/card" do %>
  <%= form_with(
    model: @user,
    builder: TailwindFormBuilder,
    html: { novalidate: true },
    url: auth_register_path,
  ) do |f| %>
    <span class="text-red-400 mr-1">*</span>
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "john.doe@example.com", required: true %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, placeholder: "John" %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, placeholder: "Doe" %>
    <span class="text-red-400 mr-1">*</span>
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "password", required: true %>
    <div class="mt-6 relative">
      <div class="<%= button_class(variant: "expanded", theme: "primary") %>">
        <%= f.submit "Register" %>
      </div>
    </div>
  <% end %>
<% end %>
